header.header_block.container
    .logo_block
        .logo_image
    nav.navigation_block
        a.nav_link(href='#home')='home'
        a.nav_link(href='#about')='about'
        a.nav_link(href='#projects')='projects'
        a.nav_link(href='#contacts')='contacts'