.about_page {
  @include container();
  position: relative;
  color: white;
  background: $primary;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
}

.about_content {
  @include wrapper($wrapper_width);
  &__general_info {
    display: flex;
    justify-content: space-around;
  }

  &__description {
    @include container();
    font-size: rem(25px);
    align-items: center;
    padding: 1em;
    p {
      text-align: center;
      padding: 0.2rem;
      word-spacing: 5px;
      span {
        padding: 0 10px;
        color: $about;
      }
    }
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: translate(-130%, 0);
  opacity: 0;
}

.general_info__list {
  font-size: rem(25px);
  transform: translate(130%, 0);
  opacity: 0;
  li {
    span:first-of-type {
      color: $about;
      padding-right: 5px;
    }
  }
  ul {
    padding-left: 1rem;
  }
}

.animate {
  .avatar, .general_info__list {
    transform: translate(0);
    opacity: 1;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
}