.about_page {
  color: white;
  background: rgb(23, 31, 104);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.description_block {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  padding: 1em;
  p {
    text-align: center;
    padding: 0.2rem;
  }
}