.contacts_page {
  height: 100vh;
  background: $secondary;
  @include container();
  position: relative;
  align-items: center;
}
%input-wrapper {
  position: relative;
  margin-bottom: 0.5rem;
  @include size(10);
  @include container;
}
.contact_form {
  @include container();
  @include size(10);
  max-width: 600px;
  justify-content: center;
  align-items: center;
  color: white;
  &__name_field {
    @extend %input-wrapper;
  }
  &__email_field {
    @extend %input-wrapper;
  }
  &__message_field {
    @extend %input-wrapper;
    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 100px;
      max-height: 100px;
    }
  }
  input, textarea {
    color: white;
    padding: 7px;
    border: none;
    border-bottom: 3px solid $contacts;
    background: transparent;
  }
}

.submit_block {
  display: flex;
  justify-content: center;
  @include size(10);
  margin: 0.5rem;
  button {
    margin: 0 0 0 auto;
    border: none;
    padding: 0.5rem 1rem;
    font-size: rem(20px);
    background: $contacts;
    cursor: pointer;
  }
  &__results {
    display: block;
    font-size: rem(16px);
    background: var(--result_color);
    opacity: 0;
    padding: 0.5rem;
  }
}

.socials {
  color: white;
  font-size:16px;
  &__title {
    text-align: center;
  }
  &__links_list {
    display: flex;
    justify-content: center;
    color: black;
    li {
      line-height: 16px;
      background: $contacts;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
    }
  }
}

.show_message {
  animation: show 8s linear;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}