
.navigation_block {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  z-index: 10;
  @include sm-block {

  }
}

.nav_links_set {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  @include sm-block {
    justify-content: center;
  }
}

.nav_link {
  margin: 0.5rem;
  a {
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    padding: 0 0.5rem;
    color: inherit;
    display: block;
    box-shadow: 9px 20px 15px -8px rgba(0,0,0,.75);
  }
}

.active_link {
  a {
    box-shadow: none;
    background: white;
    transition: 0.5s transform ease-in, 0.5s box-shadow ease-in, 1s background 1s ease-in;
  }
}

.inactive_link {
  a {
    transition: 0.5s transform 1s ease-in, 0.5s box-shadow 1s ease-in, background 1s ease-in;
  }
}

$link_bgs: (
  1:$homeBG,
  2:$aboutBG,
  3:$projectsBG,
  4:$skillsBG,
  5:$contactsBG
);

.inactive_link {
  @each $number, $bg in $link_bgs {
    &:nth-child(#{$number}) {
      a {
        background: $bg;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

