
.navigation_block {
  position: fixed;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);
  display: flex;
  z-index: 10;
  animation: appear 4s ease-in;
}

.nav_links_set {
  display: flex;
  flex-direction: column;
  font-size: rem(20px);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.nav_link {
  text-transform: uppercase;
  margin: 0.5rem 0;
  transform-style: preserve-3d;
  a {
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding: 0.3rem 0.5rem;
    color: inherit;
    display: block;
    box-shadow: 9px 20px 15px -8px rgba(0,0,0,.75);
  }
}

.active_link {
  a {
    box-shadow: none;
    background: white;
    transition: 0.5s transform ease-in, 0.5s box-shadow ease-in, 1s background 1s ease-in;
  }
}

.inactive_link {
  a {
    transition: 0.5s transform 1s ease-in, 0.5s box-shadow 1s ease-in, background 1s ease-in;
  }
}

$link_bgs: (
  1:$homeBG,
  2:$aboutBG,
  3:$projectsBG,
  4:$contactsBG
);

.inactive_link {
  @each $number, $bg in $link_bgs {
    &:nth-child(#{$number}) {
      a {
        background: $bg;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

