.home {
  @extend %page;
  align-items: center;
  @include md-block {
    position: absolute;
  }
}

.paint_page_0 {
  transition: 1s clip-path 1s ease-in;
  clip-path: circle(150% at 100% 495px);
}

.clear_page_0 {
  transition: clip-path 1s ease-in;
  clip-path: circle(0 at 100% 495px);
}

.title_text {
  position: relative;
  font-size: rem(30px);
  color: white;
  margin: 1rem auto;
  z-index: 100;
  opacity: 0;
}

.description {
  font-size: rem(29px);
  margin: 0.2em;
  color: white;
  opacity: 0;
}

.appear {
  opacity: 1;
  transition: opacity 1s linear;
}






