.home_page {
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0000007e;
}

.title_text {
  position: relative;
  font-size: rem(30px);
  color: white;
  margin: 1rem auto;
  opacity: 0;
}

.description {
  font-size: rem(29px);
  margin: 0.2em;
  color: white;
  opacity: 0;
}

.appear {
  opacity: 1;
  transition: opacity 1s linear;
}






