@import "header";
@import "home";
@import "about";
@import "projects";
@import "skills";
@import "contacts";

.scroll_to_top_btn {
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 5%;
    right: 5%;
    background: red;
    border-radius: 50%; 
}

.topAnchor {
    position: absolute;
    top: -10px;
    left: 0;
}
.bottomAnchor {
    position: absolute;
    bottom: 10px;
    left: 0;
}