@import "header";
@import "home";
@import "about";
@import "projects";
@import "skills";
@import "contacts";

.scroll_to_top_btn {
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 5%;
    right: 5%;
    background: red;
    border-radius: 50%; 
}

.topAnchor {
    position: absolute;
    top: -55px;
    left: 0;
}

.bottomAnchor {
    position: absolute;
    bottom: 55px;
    left: 0;
}

.section_title {
    display: inline-block;
    font-size: rem(38px);
    margin: 1rem 0;
    color: white;
}