@import "home";
@import "about";
@import "projects";
@import "skills";
@import "contacts";


.top_anchor {
    position: absolute;
    top: calc(var(--anchor)*-1);
    left: 0;
}

.bottom_anchor {
    position: absolute;
    bottom: var(--anchor);
    left: 0;
}

.section_title {
    @include size(10);
    display: inline-block;
    font-size: rem(38px);
    margin: 0.5rem 0;
    color: white;
    text-align: center;
}