.projects_page {
  background: #0000007e;
}

.project_block {
  @include size(12);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project_block__project_item {
  position: relative;
  @include size(9);
  @include size-bg(6);
  margin: 1rem;
  color: black;
  background: #9dfab9;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: opacity 1s linear, transform 0.5s linear;
}
.project_block_image_wrapper {
  position: relative;
  padding-top: 48%;
}
.project_item__image {
  position: absolute;
  left: 0;
  top: 0;
  @include size(12);
  height: 100%;
  object-fit: contain;
  object-position: top center;
  transition: transform 0.2s linear;
}

.project_item_description {
  position: relative;
  font-size: rem(25px);
  padding: 0.5rem 1rem;
}

.project_block_details {
  @include size(12);
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: rem(25px);
  padding: 0.5rem 0;
  a {
    color: inherit;
    text-decoration: underline;
  }
}
.project_item_title {
  font-size: rem(30px);
  text-align: center;
}
#gh-logo {
  fill: black;
  width: 32px;
  height: 32px;
}

.fade_in {
  opacity: 1;
  transform: translate(0);
}
