.skills_page {
  @include container();
  position: relative;
  align-items: center;
  background: rgb(23, 31, 104);
  color: white;
  height: 100vh;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: rem(16px);
  @include size(10);
  @include size-md(8);
  @include size-lg(5);
  &__item {
    display: inline;
    overflow: hidden;
    white-space:nowrap;
    line-height: 1rem;
    background: $skills;
    color: black;
    margin: 0.25rem;
    padding: 0.25rem;
    opacity: 1;
    transition: opacity 0.3s linear;
  }
}

.skill_block__title {
  color: $skills;
}
.skills_tabs {
  display: flex;
  position: relative;
  margin: 0.5rem;
  &__type {
    position: relative;
    z-index: 3;
    line-height: 1rem;
    padding: 0.3rem;
    transition: color 0.5s ease-in;
    cursor: pointer;
  }
  &:before {
    content: '';
    position: absolute;
    width: var(--skills_width);
    bottom: 0;
    left: var(--skills_position);
    height: 100%;
    background: $skills;
    border-radius: 10px;
    transition: left 0.2s linear, width 0.2s linear;
    z-index: 2;
  }
}
.active_tab {
  color: black;
}

.hide_item {
  opacity: 0.4;
}