.skills {
    @extend %page;
}
  
.paint_page_3 {
    transition: 1s clip-path 1s ease-in;
    clip-path: circle(150% at 100% 100%);
}
.clear_page_3 {
    transition: clip-path 1s ease-in;
    clip-path: circle(0 at 100% 100%);
}
.skills_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-size: rem(30px);
}

%skills_common {
  position: relative;
  @include size(5);
  margin: 1rem;
  &:before {
    content: '';
    position: absolute;
    top: 27px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
  }
}

.skills_basic_stack {
  @extend %skills_common;
}
.skills_other_skills {
  @extend %skills_common;
}
.skills_programs {
  @extend %skills_common;
}
.skills_high_priority_skills {
  @extend %skills_common;
}