.skills_page {
  background: $skillsBG;
  color: black;
}

.skills_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: rem(28px);
}

%skills_common {
  @include size(5);
  @include size-md(3);
  @include size-bg(2);
  margin: 1rem;
  li:first-of-type {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 2px;
      background: black;
    }
  }
}

.skills_basic_stack {
  @extend %skills_common;
}
.skills_other_skills {
  @extend %skills_common;
}
.skills_programs {
  @extend %skills_common;
}
.skills_high_priority_skills {
  @extend %skills_common;
}