.about {
  @extend %page;
  background: $aboutBG;
}
.paint_page_1 {
  @extend %painted_page;
  clip-path: circle(150% at 100% 110px);
}
.clear_page_1 {
  transition: clip-path 1s ease-in;
  clip-path: circle(0px at 100% 110px);
}