.contacts {
  @extend %page;
  background: $contactsBG;
}

.paint_page_3 {
  @extend %painted_page;
  clip-path: circle(2000px at 100% 210px);
}
.clear_page_3 {
  transition: clip-path 1s ease-in;
  clip-path: circle(0 at 100% 210px);
}