:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
}
a { 
  text-decoration: none;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section, .section {
  position: relative;
  padding: 40px 0;
} 
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
  
.content-wrapper {
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
}
.anchor {
  display: inline;
}
