:root {
  font-family: 'Poppins', sans-serif;
  font-size: calc(0.5em + 0.8vw);
}
a { 
  text-decoration: none;
  color: inherit;
}
li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: inherit
}
