:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
}

a { 
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section, .section {
  position: relative;
  padding: 40px 0;
}
  
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
  
.content-wrapper {
  display: flex;
  flex-direction: column;
}
  
.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
}

.page {
  width: 100%;
  @include fixed-vh(100);
}

.anchor {
  display: inline;
}

%painted_page {
  transition: 0.5s background 1s ease-in;
}

.paint_page_0 {
  @extend %painted_page;
  background: $homeBG;
}
.paint_page_1 {
  @extend %painted_page;
  background: $aboutBG;
}
.paint_page_2 {
  @extend %painted_page;
  background: $projectsBG;
}
.paint_page_3 {
  @extend %painted_page;
  background: $contactsBG;
}
.clear_page {
  transition: background 0.5s ease-in;
  background: white;
}