
.navigation_block {
  position: fixed;
  right: 0;
  display: flex;
  @include fixed-vh(90);
  z-index: 10;
}

.nav_links_set {
  display: flex;
  flex-direction: column;
  font-size: rem(20px);
  perspective: 1000px;
  perspective-origin: top right;
  transform-style: preserve-3d;
}

.nav_link {
  text-transform: uppercase;
  margin: 0.2rem 0;
  transition: 0.5s flex 0.5s ease-in;
  transform-style: preserve-3d;
  a {
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding: 0.3rem 0.5rem;
    color: inherit;
    display: block;
    box-shadow: -20px 10px 15px -8px rgba(0,0,0,.75);
    transform: skewY(10deg) translateY(15px);
  }
}

.active_link {
  flex: 1;
  a {
    box-shadow: none;
    transform: skewY(10deg) translate3d(0,30px,-10px);
    background: white;
    transition: 0.5s transform ease-in, 0.5s box-shadow ease-in, 0.5s background 1s ease-in;
  }
}

.inactive_link {
  flex: 0;
  a {
    transition: 0.5s transform ease-in, 0.5s box-shadow ease-in, background 0.5s ease-in;
  }
  &:nth-child(1) {
    a {
      background: $homeBG;
    }
  }
  &:nth-child(2) {
    a {
      background: $aboutBG;
    }
  }
  &:nth-child(3) {
    a {
      background: $projectsBG;
    }
  }
  &:nth-child(4) {
    a {
      background: $contactsBG;
    }  
  }
}