@import 'smart-grid';
@include reset();
@import 'utilities';
@import "variables";
@import 'default';
@import 'svg_animations';
@import 'sections/index';

body {
  scroll-behavior: smooth;
  &:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('../assets/imgs/background_main.jpg') no-repeat center center;
    background-size: cover;
  }
}