$number-length: (
  1: 472,
  2: 395,
  3: 278,
  4: 278,
  5: 438,
  6: 677,
  7: 438,
  8: 462,
  9: 278,
  10: 460
);

#react-icon {
  width: 100%;
  height: 100%;
  path {
    fill: none;
    stroke: $skills;
    stroke-width: 5px;
    animation: stroke-icon 2s linear forwards alternate infinite;
  }
  circle {
    fill: $skills;
  }
}

#welcome {
  position: relative;
  display: block;
  @include size(10);
  height: 90px;
  margin: 1rem auto;
  animation: 0.5s fill 3s linear forwards;

  path {
    stroke: $title-color;
    @each $number, $length in $number-length {
      &:nth-child(#{$number}) {
        stroke-dasharray: #{$length};
        stroke-dashoffset: #{$length};
        animation: draw 1s linear forwards calc(#{$number}*0.2s);
      }
    }
  }
}

@keyframes draw {
 to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: $title-color;
  }
}

@keyframes stroke-icon {
  from {
    stroke-dasharray: 436;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 436;
  }
}