$number-length: (
  1: 472,
  2: 395,
  3: 278,
  4: 278,
  5: 438,
  6: 677,
  7: 438,
  8: 462,
  9: 278,
  10: 460
);

#welcome {
  position: relative;
  display: block;
  @include size(10);
  height: 90px;
  margin: 1rem auto;
  animation: 0.5s fill 3s linear forwards;

  path {
    stroke: $title-color;
    @each $number, $length in $number-length {
      &:nth-child(#{$number}) {
        stroke-dasharray: #{$length};
        stroke-dashoffset: #{$length};
        animation: draw 1s linear forwards calc(#{$number}*0.2s);
      }
    }
  }
}

$tic-toe-data: (
 1:120,
 2:120,
 3:120,
 4:120,
 5:91,
 6:37,
 7:37,
 8:91,
 9:37,
 10:37,
 11:91,
 12:37,
 13:37,
 14:91,
 15:151,
);

#tic-toe {
  position: absolute;
  bottom: 80px;
  right: 25px;
  width: 30%;
  height: 10%;
  @include bg-block {
    width: 22%;
    top: 100px;
    right: 5%;
  }
  transform: rotate(-15deg);
  path, circle {
    stroke: $stroke-color;
    stroke-width: 2;
  }
  @each $i, $length in $tic-toe-data {
    *:nth-child(#{$i}) {
      stroke-dasharray: #{$length};
      stroke-dashoffset: #{$length};
      animation: draw 0.5s linear forwards calc(#{$i}*0.5s);
    }
  }
}
$object-data: (
  1: 60,
  2: 60,
  3: 20,
  4: 20,
  5: 20,
  6: 20,
  7: 20,
  8: 20,
  9: 20,
  10: 20,
  11: 20,
  12: 20,
  13: 15,
  14: 15,
  15: 15,
  16: 15,
  17: 15,
  18: 15,
  19: 15,
  20: 15,
  21: 20,
  22: 20, 
  23: 20,
  24: 20,
  25: 20,
);
#object {
  width: 32%;
  height: 25%;
  position: absolute;
  bottom: 80px;
  left: 40px;
  @include bg-block {
    width: 13%;
    top: 100px;
  }
  path, circle {
    stroke: $stroke-color;
    stroke-width: 1;
  }

  @each $i, $length in $object-data {
    *:nth-child(#{$i}) {
      stroke-dasharray: #{$length};
      stroke-dashoffset: #{$length};
      animation: draw 0.3s linear forwards calc(#{$i}*0.3s);
    }
  }
}

@keyframes draw {
 to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: $title-color;
  }
}