$default_light: white;
$default_dark: black;
$wrapper_width: 1180px;
$mainFontSize: 18px;
$home: rgb(0, 204, 0);
$about: #b4ec58;
$projects:rgb(82, 120, 208);
$skills: rgb(146, 250, 193);
$contacts:rgb(243, 130, 0);
$primary: rgb(23, 31, 104);
$secondary: #0000007e;
$title-color: rgb(0, 204, 0);