$color: white;
$wrapper_width: 1180px;
$mainFontSize: 18px;
$homeBG: rgb(231, 81, 81);
$aboutBG: rgb(98, 165, 79);
$projectsBG:rgb(82, 120, 208);
$skillsBG: hsl(0, 0%, 71%);
$contactsBG:rgb(179, 116, 176);
$stroke-color: hsl(0, 84%, 93%);
$title-color: rgb(0, 204, 0);