include ../mixins

doctype html
html(lang='en')
  head
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0")
    title='Hello, Eva'
    link(href="https://fonts.googleapis.com/css?family=Ranga&display=swap" rel="stylesheet")
  body.content-wrapper
    include ../modules/header
    main.main_content
      include ../layout/home
      include ../layout/about
      include ../layout/projects
      include ../layout/skills
      include ../layout/contacts