section.contacts_page
    .top_anchor
    h2.section_title='Contacts'
    from.contact_from(method='post' action='/')
        input(placeholder='Enter your name or company' name='name')
        button(type='submit')='Send data'
    .bottom_anchor
