section.content-wrapper.home.page.paint_page_0
  include ../../assets/imgs/hello.svg
  h1.title_text="Choose tabs below to know me better"
  p.know_more='Want to know more about me?'
  p.projects_ref='Maybe you just want to see my projects?'
  include ../../assets/imgs/arrow.svg
  include ../../assets/imgs/arrow-2.svg
