section.home_page
  .top_anchor
  include ../../assets/imgs/hello.svg
  h1.home_page__title="Welcome to my personal portfolio web-page"
  ul.home_page__welcome_messages
    li='Here you can know me much better.'
    li='I created some cool projects related with my interests.'
    li='So, if you think that I am suitable for you, contact me'
  .bottom_anchor
