-
  var skills_sets = {
    "Every day": [ 'HTML5 + Pug', 'CSS3 + SASS', 'JavaScript', 'Webpack', 'PostCSS', 'React', 'Redux', 'React-Router', 'Material UI', 'Styled Components', 'ESLint', 'Prettier', 'StyleLint'],
    "Basics": ['Node.js','Express', 'MongoDB', 'Socket.io', 'Jest/Enzyme testing'],
    "In progress": ['Algorithms', 'Data structures', 'OOP', 'Design patterns'],
    "Other": ['Visual Studio Code', 'curl CLI', 'ConEmu', 'Adobe XD', 'Figma']
  }

section.skills_page
  .top_anchor
  h2.section_title='My skills'
  .react_animation_logo
    span.first_ring
    span.second_ring
    span.third_ring
    span.inner_dot
  .skills_tabs
    .skills_tabs__type.active_tab='Overview'
    each value, key in skills_sets
      .skills_tabs__type=key
  ul.skills_list
    each skill_set, key in skills_sets
      each skill in skill_set
        li.skills_list__item.show_item(data-type=key)=skill
  .bottom_anchor