- var every_day = [ 'HTML5 + Pug', 'CSS3 + SASS', 'JavaScript', 'Webpack', 'PostCSS', 'ESlint', 'Prettier', 'Stylelint', 'React', 'Redux', 'Router', 'Material UI', 'Styled Components'];
- var basics = ['Node.js','Express', 'MongoDB', 'Socket.io', 'RESTful API', 'Jest+enzyme testing'];
- var in_progress = ['Algorithms', 'Data structures', 'OOP/design patterns'];
- var programs = ['Visual Studio Code', 'curl CLI', 'ConEmu', 'Adobe XD', 'Figma'];

section.skills_page.content-wrapper
  .topAnchor
  h2.section_title='My skills'
  .skills_block
    +skills_set('Tools for every day', every_day)
    +skills_set('Basic knowledge', basics)
    +skills_set('Studying now', in_progress)
    +skills_set('Programs and utilities', programs)
  .bottomAnchor