-
  var skills_sets = {
    "Every day": [ 'HTML5 + Pug', 'CSS3 + SASS', 'JavaScript', 'Webpack', 'PostCSS', 'React', 'Redux', 'React-Router', 'Material UI', 'Styled Components'],
    "Basics": ['Node.js','Express', 'MongoDB', 'Socket.io', 'RESTful API', 'Jest+enzyme testing'],
    "In progress": ['Algorithms', 'Data structures', 'OOP', 'Design patterns'],
    "Other": ['Visual Studio Code', 'curl CLI', 'ConEmu', 'Adobe XD', 'Figma']
  }

section.skills_page.content-wrapper
  .top_anchor
  h2.section_title='My skills'
  .skills_tabs
    .skills_tabs__type.active_tab='All'
    each value, key in skills_sets
      .skills_tabs__type=key
  ul.skills_block
    each skill_set, key in skills_sets
      each skill in skill_set
        li.skill_item.show_item(data-type=key)=skill
  .bottom_anchor